* {margin: 0; padding: 0}

body {
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&family=Roboto&family=Roboto+Mono:wght@300&display=swap');

.top {
  background-color: #373737;
  height: 70px;
  width: 99%;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 0 0 10px 10px;
  margin-left: 0.5%;
}

.logo {
  font-family: 'Kalnia', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
    line-height: 70px;
    margin-left: 20px;
    float: left;
    font-size: 40px;
    color: #ffffff;
}

.int {
  font-family: 'Kalnia', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  display: inline;
  text-align: center;
  font-size: 25px;
  margin-left: 15px;
  background-color: ##b4b4b4;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  float:left;
  height: 25px;
  line-height: 25px;
  margin-top: 21px;
  position: relative;
  left: 25px;
  border: 2px solid #373737;
  padding: 1px;
}

.int:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.h1 {
  font-family: 'Kalnia', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin: 10px;

}

.p1 {
  font-family: 'Kalnia', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 25px;
}

.button {
  font-family: 'Kalnia', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background: #116ecf;
  height: 70px;
  width: 46.25%;
  display: block;
  text-align: center;
  margin-left: 2.5%;
  border-radius: 10px;
  text-decoration:none;
  color: #ffffff;
  font-size: 40px;
  line-height: 70px;
  margin-top: 10px;
  font-weight:bold;
  float: left;
}

.buttonn {
  font-family: 'Kalnia', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background: #116ecf;
  height: 70px;
  width: 46.25%;
  display: block;
  text-align: center;
  margin-left: 2.5%;
  border-radius: 10px;
  text-decoration:none;
  color: #ffffff;
  font-size: 40px;
  line-height: 70px;
  margin-top: 10px;
  font-weight:bold;
  float: left;
}
